bootstrap.css
bootstrap-responsive.css
/.bundle
/test/dummy/log/*.log
/test/screenshots/
/tmp/
/vendor/bundle
/vendor/cache
*.gem
Gemfile.lock
Makefile
Makefile.old
MANIFEST
MANIFEST.bak
Mojolicious-Plugin-Bootstrap3-*
Changes.old
MYMETA*
.rbenv-version
.rvmrc
.sass-cache
*.swp
tmp/
test/screenshots/
test/dummy_rails/log/*.log
.DS_Store
